.slide{
	width: 97% !important;
	display: flex;
	object-fit: contain;
	overflow: hidden !important;
	margin: 50px 0 10px 0;
	border-radius: 20px 20px 0 0;
}

.link{
	width: 88%;
	background-color: #193D27;
	margin: 30px auto;
	text-align: center;
	margin-bottom: -20px;
	border-radius: 50px 50px 0 0;
	font-size: 20px;
}
@media screen and (max-width: 700px){
	.link{
		border-radius: 20px 20px 0 0;
	}
}

.d-block{
	margin-left: 67px;
}

.image11{
	width: 150px !important;
	height: 200px !important;
	margin: 10px 50px !important;
	object-fit: cover !important;
	border-radius: 10px;
}

.carousel-control-next-icon{
	background-color: black;
	position: relative;
	left: 5px !important;
}
.carousel-control-prev-icon{
	background-color: black;
	position: relative;
	left: -50px !important;
}
@media screen and (max-width: 950px){
	
	.image11{
		margin: 3px 20px !important;
		width: 120px !important;
		height: 135px !important;
	}
	.d-block{
		margin-left: 30px;
	}
	.carousel-control-prev-icon{	
	left: -7px !important;
}
@media screen and (max-width: 800px){
	.image11{
		margin: 5px 20px !important;
		width: 100px !important;
		height: 130px !important;
	}
		.d-block{
		margin-left: 30px;
	}
}
@media screen and (max-width: 620px){
	.image11{
		margin: 5px 15px !important;
		width: 90px !important;
		height: 120px !important;
	}
		.d-block{
		margin-left: 30px;
	}
}
.carousel-control-next-icon{
	width: 20px !important;
	height: 20px !important;
}
.carousel-control-prev-icon{
	width: 20px !important;
	height: 20px !important;
}

@media screen and (max-width: 550px){
	.image11{
		margin: 5px 15px !important;
		width: 72px !important;
		height: 90px !important;
	}
	.d-block{
		margin-left: 16px;
	}
}


@media screen and (max-width: 450px){
	.image11{
		margin: 3px 5px !important;
		width: 75px !important;
		height: 85px !important;
	}

}
@media screen and (max-width: 400px){
	.image11{
		margin: 3px 5px !important;
		width: 60px !important;
		height: 80px !important;
	}
	
}