*{
	box-sizing: border-box !important;
}
html, body {
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
body{
	background-color: #C4BFC3 !important;
}
#btn-search{
	border: 1px solid !important;
	background-color: #2A0305 !important;
}
#button{
	background-color: #837EF3;
	color: white;
	padding: 3px;
	font-size: 12px;
}
#front-page{
	margin-top: -150px;
}
#logo{
	border-radius: 35%;
	padding: 0;
}
#navbar{
	padding: 0;
	background-color: #18146A;
}
#navbar-nav{
	position: relative;
	left: 35%;
	color: #ADADAE !important;
	background-color: #2A0305;
}
@media screen and (max-width: 900px){
	.nav-link{
		border-top: 1px solid whitesmoke;
	}
	#navbar-nav{
		width: 200px !important;		
		position: absolute;
		left: 0px !important;
		z-index: 10 !important;
		text-align: center;
	}
	.d-flex{
		width: 50%;
		position: absolute;
		left: 50%;
		z-index: 10;
	}
}

.nav-link{
	color: #B4C9F9 !important;
	padding-top: 5px !important;
}
.nav-link:hover{
	color: #38F045 !important;
	border-top: 2px solid red;
}
.name{
	font-size: 30px;
	font-weight: bold;
	color: #C8B8B9;
	margin-left: -15px;
}

h1{
	color: #93058E !important;
	margin-top: 60px;
}
p{
	color: #B2C3CB;
}
.hairs{
	top: -180px;
	font-size: 20px;
	line-height: 30px;
	color: #C0C0CB;	
	padding: 8px 10%;
	text-align: center;
	width: 75%;
	align-items: center;
	border-top: 2px solid #B2C3CB;
	border-bottom: 2px solid #B2C3CB;
	border-radius: 5% 5% 5% 5%;
	margin: auto;
	margin-bottom: -100px;
}
.space1 .ceo{
	text-align: center;
	font-size: 16px;
	font-style: italic;
	color: #957A98;
}
@media (max-width: 600px){
	.hairs{
		font-size: 16px;
		line-height: 27px;
		padding: 8px 3%;
		width: 90%;
	}
	.space1 .ceo{
		font-size: 14px;
	}
}
.here{
	color: #22FA05;
	font-style: italic;
}
.arivals{
	width: 50%;
	border: 3px solid #C4BFC3;
	border-radius: 20px;
	background-color: #707072;
	margin: -29px auto;
	margin-top: 45px;
	font-size: 20px;
	text-align: center;
	padding: 3px;
}
@media screen and (max-width: 800px){
	.arivals{
		width: 80%;
	}
}


.arivals p{	
    color: #F5F5FC !important;
	font-size: 18px;
}
@media screen and (max-width: 600px){
	.arivals{
		width: 97%;
	}
	h1{
		text-align: center;
		color: #93058E !important;
		font-size: 40px !important;
		margin-bottom: 100px !important;
	}
	.arivals p{
		font-size: 16px
	}
}

.icon-arrow-down{
	color: #6F040B;
}

#social{	
	padding: 10px;
}
#social, #social p {
	width: 90%;
	margin: auto;
	text-align: center;
} 
#social p{
	color: #1D2145;
	font-size: 20px;
}
@media screen and (max-width: 700px){
		#social p{
		font-size: 14px;
	}
}
#social i{
	font-size: 35px;
	padding-left: 10px;
}


details{
	width: 40px;
	position: relative;
	top: 0px;
}
.icon-phone-square{
	cursor: pointer;
}
#num{
	visibility: hidden;
	width: 100px;
	position: relative;
	left: 54%;
	background-color: #03A033;
	color: #D4D8D5;
}
@media screen and (max-width: 650px)
{
	#num{
		left: 62%;
	}
}


	